html, body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.main-container {
	height: 100%;
	width: 100%;
}

img {
	width: 30%;
	display: block; 
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 24px;
}