<!DOCTYPE html>
<html>
<head>
	<title>Home - Rithvik's Blog</title>
</head>
<body>
<div class="main-container container-fixed">
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" style="font-family: 'Open Sans'" href="{{site.baseurl}}/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/sbc.html">SBC</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/myos.html">myOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.baseurl}}/about.html">iMeMyself</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
      			<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      			<button class="btn my-2 my-sm-0" type="submit">Search</button>
    		</form>
		</div>
	</nav>
	<div style="height: 100%; padding-top: 72px; margin-left: 10%; margin-right: 10%; padding-bottom: 72px;">
		{{ content }}
	</div>
</div>
</body>
<!-- The order in which the stylesheets are loaded is important -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/style.css">
<!-- The order in which the scripts are loaded is important -->
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>